body, html {
    height: 100%;
}

body {
    background: url(https://images.pexels.com/photos/34591/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center; 
    transition: background 1.5s linear;
    height: 100%; 

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.content{
	padding-top: 20%;
	text-align: center;
}

.content h1{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}